.settings .p-tabmenu	{
    background-color: transparent;
}

.settings .p-tabmenu-nav	{
    background-color: transparent;
}

.settings .p-tabmenuitem	{
    background-color: transparent;
}

.settings .p-menuitem-link		{
    background-color: transparent;
}

.settings .p-menuitem-link		{
    background-color: transparent;
}