
.p-dropdown	{
    background: transparent;
    border: none;
}

.p-dropdown-panel{
    display: flex;
    justify-content: center;
    gap:5px;
    border: none;
    border-radius: 20%;
    background-color: transparent;
    margin-bottom: 5px;
}
.p-dropdown-item {
    border-radius: 20%;
    padding: 5px;
}

.p-dropdown-items	{
    padding: 0;
}


.p-dropdown-label	{
    padding: 2px;
}
.p-dropdown-trigger	{
    width: 15px;
}
