
.p-dropdown	{
    background: transparent;
    border: none;
    outline: none;
}

.p-dropdown-panel{
    display: flex;
    justify-content: center;
    gap:5px;
    border: none;
    border-radius: 5%;
    margin-bottom: 5px;
    background-color: rgb(66, 66, 66) 
}
.p-dropdown-item {
    border-radius: 20%;
    padding: 5px;
    background-color: transparent;
}

.p-dropdown-items	{
    padding: 0;
}


.p-dropdown-label	{
    padding: 2px;
}
.p-dropdown-trigger	{
    width: 15px;
}
