/* Main dropdown styles */
  .p-dropdown {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .p-dropdown-label {
    padding: 3px;
  }

  .p-dropdown-trigger {
    width: 15px;
  }

.tm-dropdown-panel {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  box-shadow: none;

  .p-dropdown-items {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }

  .p-dropdown-item {
    border-radius: 20%;
    padding: 5px;
    background-color: transparent;
  }
}
/* Global styles for the panel */
.tm-dropdown-panel.p-dropdown-panel {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  box-shadow: none;
}

.tm-dropdown-panel .p-dropdown-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.tm-dropdown-panel .p-dropdown-item {
  border-radius: 20%;
  padding: 5px;
  background-color: transparent;
}