
.p-dropdown	{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.p-dropdown-panel{
    display: flex;
    justify-content: center;
    gap:5px;
    border: none;
    border-radius: 20% 20% 5% 5%;
}

.p-dropdown-item {
    border-radius: 20%;
    padding: 5px;
    background-color: transparent;
}

.p-dropdown-items	{
    padding: 0;
}


.p-dropdown-label	{
    padding: 3px;
}
.p-dropdown-trigger	{
    width: 15px;
}
